@import url('http://fonts.googleapis.com/css?family=Lato');

body,
html {
  height: 100%;
  background: #272b30;
  color: #c8c8c8;
  font-family: "Lato", Tahoma, Geneva, sans-serif;
	
}

.color-blue {
  color: #5bc0de;
}
.color-green {
  color: #62c462;
}
.color-yellow {
  color: #F1C40F;
}
.color-orange {
  color: #dc8000;
}
.color-red {
  color: #C0392B;
}

.db-countdown {
  position: absolute;
  top: 10px;
  right: 10px;
}
.db-countdown:time {
  font-size: 1.1em;
}