$text-color: #c8c8c8;
$background-color: #272b30;

$background-blue: #5bc0de;
$color-blue: #5bc0de;
$background-green: #62c462;
$color-green: #62c462;
$background-yellow: #F1C40F;
$color-yellow: #F1C40F;
$background-orange: #dc8000;
$color-orange: #dc8000;
$color-red: #C0392B;

$link-color-active: #fff;
$link-color-hover: #fff;

.color-blue {
  color: $color-blue;
}

.color-green {
  color: $color-green;
}

.color-yellow {
  color: $color-yellow;
}

.color-orange {
  color: $color-orange;
}

.color-red {
  color: $color-red;
}
