$text-color: #c8c8c8;
$background-color: #272b30;

$color-blue: #5bc0de;
$color-green: #62c462;
$color-yellow: #f1c40f;
$color-orange: #dc8000;
$color-red: #c0392b;

$link-color-active: #fff;
$link-color-hover: #fff;

$color-black: #000;
$color-white: #fff;

.color-blue {
  color: $color-blue;
}

.color-green {
  color: $color-green;
}

.color-yellow {
  color: $color-yellow;
}

.color-orange {
  color: $color-orange;
}

.color-red {
  color: $color-red;
}
