.db-countdown {
  padding: 0.7rem 0;
  background: red;
  color: $color-white;
  border-bottom: 1px solid $color-black;
}

.db-countdown-text {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.7rem 1.5rem;

  & > span {
    font-weight: bold;
  }
}
