input {
  margin: 4px 0;
  padding: 6px 8px;
  background-color: #ebf5fb;
  border: 1px solid $color-black;
  border-radius: 4px;
  font-size: 1.2em;
  font-family: $main-font;
  transition: background-color 0.2s linear;

  &:focus {
    outline: none;
    background-color: #fff;
    border: 1px solid #3498db;
    border-radius: 4px;
  }
}
