@import url('http://fonts.googleapis.com/css?family=Lato');

$main-font: "Lato", Tahoma, Geneva, sans-serif;
$header-font: "Arial Black", Gadget, sans-serif;

.text-reset {
  font-size: 1em;
}

.text-big {
  font-size: 1.5em;
}

.text-small {
  font-size: 0.8em;
}
